.category {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: white;
}

.for-you,
.mobiles,
.fashion,
.beauty,
.electronics {
  display: flex;
  flex-direction: column; /* 🔥 image top, text bottom */
  align-items: center;
  gap: 0px; /* space between image & text */
  cursor: pointer;
  font-size: 14px;
}

/* IMAGE STYLE */
.category img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.for-you:hover,
.fashion:hover,
.mobiles:hover,
.beauty:hover,
.electronics:hover {
  color: #2874f0;
}

.for-you-content,
.fashion-content,
.mobiles-content,
.beauty-content,
.electronics-content {
  padding: 30px;
  font-size: 22px;
  background-color: #f8f8f8;
  min-height: 200px;
  margin-top: 10px;
  border-radius: 6px;
}

.for-you-content img,
.fashion-content img,
.mobiles-content img,
.beauty-content img,
.electronics-content img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
